@use "sass:math";
@mixin flexBox($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin position($name, $top, $right, $bottom, $left) {
  position: $name;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin column($key, $full) {
  @for $i from 1 through 12 {
    .col-#{$key}-#{$i} {
      @if $full {
        max-width: math.div(100%, 12) * $i;
        flex-basis: math.div(100%, 12) * $i;
      } @else {
        max-width: math.div(100%, 12) * $i;
        flex-basis: math.div(100%, 12) * $i;
      }
    }
  }
}
